body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tab-container {
  display: flex;
}

.tab-container button {
  border: 1px solid #000;
  margin: 0;
  padding: 15px 80px;
  border-right: none;
  border-top: none;
  border-color: #a5a3a365;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tab-container button:hover {
  background-color: #80e1ff;
}

.tab-container button:first-child {
  border-left: none;
}

.tab-container button:last-child {
  border-right: none;
}

.tab-content {
  margin-top: 1rem;
}
